.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 40px 16px 40px 40px;
}

.header_links {
  display: flex;
}
.header_links_item {
  line-height: 35px;
  padding: 0 24px;
}

.burger-menu {
  display: none;
}

@media (max-width: 991.98px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    margin-left: 20px;
    position: relative;
    z-index: 10000;
  }

  .burger-menu__line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .burger-menu__line--top {
    transform: translateY(0) rotate(0);
  }

  .burger-menu__line--middle {
    transform: translateY(5px) rotate(0);
  }

  .burger-menu__line--bottom {
    transform: translateY(10px) rotate(0);
  }

  .burger-menu--open .burger-menu__line--top {
    transform: translateY(10px) rotate(45deg);
  }

  .burger-menu--open .burger-menu__line--middle {
    opacity: 0;
  }

  .burger-menu--open .burger-menu__line--bottom {
    transform: translateY(-10px) rotate(-45deg);
  }

  .header_links {
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c102d;
    z-index: 9999;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header_links_item {
    margin: 20px;
    font-size: 24px;
  }
}
