.footer_wrapper {
  background: linear-gradient(
    152.14deg,
    rgba(21, 191, 253, 0.7) 9.96%,
    rgba(156, 55, 253, 0.7) 100%
  );
  padding-top: 1px;
  margin-top: 150px;
  width: 100%;
}
.footer {
  background-color: rgba(26, 26, 40, 0.95);
  display: flex;
  justify-content: center;
}
.footer_content {
  padding: 35px 40px;
  display: flex;
  gap: 165px;
}
.footer_title {
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  margin-bottom: 24px;
}
.footer_address_text {
  font-size: 16px;
  line-height: 22px;
  margin-top: 24px;
}
.footer_company_links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 16px;
  width: 300px;
}
.footer_company_links .company_link:nth-child(even) {
  text-align: right;
}
.footer_social_links {
  display: flex;
  gap: 24px;
}

@media (max-width: 1023.98px) {
  .footer_content {
  
    flex-wrap: wrap;
    gap: 70px;
  }

  .footer_company_links {
    width: 200px;
  }
}
