.person {
  display: inline-flex;
  width: 185px;
  height: 420px;
  padding: 1px;
  border-radius: 16px;
  background: linear-gradient(
    152.14deg,
    rgba(156, 55, 253, 0.7) 9.96%,
    rgba(21, 191, 253, 0.7) 100%
  );
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
}
.person_image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
  overflow: hidden;
}
.person.selected {
  width: auto;
  flex-grow: 1;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%);
  order: -1;
}
.person.selected .person_image {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%);
}

@media (max-width: 885px) {
  .person {
    width: 92px;
    height: 210px;
  }
} ;
