.about_us {
  position: relative;
  padding: 0 30px;
}
.about_us_content {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 55px 0 180px 0;
}
.about_us_mentors {
  background-image: url("/content/lines.svg");
  background-repeat: no-repeat;
  background-position: center 50px;
}
.about_us_mentors_title {
  text-align: center;
  margin-bottom: 120px;
}
.about_us_mentors_list {
  display: flex;
  gap: 20px;
}
.about_us_text {
  font-size: 16px;
  line-height: 22px;
  margin-top: 110px;
  max-width: 485px;
}

@media (max-width: 991.98px) {
  .about_us_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 80px 0;
  }
  .about_us_text {
    margin-top: 50px;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .about_us_mentors {
    background-image: none;
  }
  .about_us_mentors_list {
    flex-direction: column;
    gap: 50px;
  }

  .about_us_mentors_title {
    margin-bottom: 60px;
  }
}
@media (max-width: 479.98px) {
  .title {
    font-size: 48px;
  }
}
