.section_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.background_spot {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(#1b295b, transparent 72%);
}
.background_star {
  position: absolute;
  background-image: url("/content/background/star.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: drop-shadow(0 0 10px #0028d7);
}
.background_star.big {
  width: 35px;
  height: 40px;
}
.background_star.medium {
  width: 25px;
  height: 28px;
}
.background_star.small {
  width: 15px;
  height: 17px;
}
.background_text {
  position: absolute;
  top: 50%;
  left: 65%;
  white-space: nowrap;
  -webkit-text-stroke: 1px #a2cbfb;
  color: transparent;
  font-size: 200px;
  font-family: "Clash Display Semibold", sans-serif;
  line-height: 185px;
  opacity: 0.05;
}

